  <div class="article-detail">
   <div class="image" style="background-color: {{model.primaryColor}}; background-image: url('{{model.image}}')"></div>
   <article>
     <div class="header">
       <address>{{model.author}}</address>
       <div class="title" style="color: {{model.secondaryColor}}">{{model.title}}</div>
       <time>{{model.date}}</time>
     </div>
     <section class="main">
        <h3>{{model.desc}}</h3>
        <p>{{model.content}}</p>
     </section>
   </article>
  </div>
